* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #f8f9fa;
	font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-box {
    background-color: #ededed;
    border-radius: 20px;
    padding: 24px 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header-box h1 {
    font-size: 1.4rem;
    font-weight: 800;
    color: #000000;
    letter-spacing: 0.5px;
}

.nav-list {
	width: 100%;
	align-items: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.btn-link {
	width: 75%;
	max-width: 75%;
    display: block;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    padding: 16px 10px;
    border-radius: 16px;
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.btn-link:active {
    transform: scale(0.98);
    opacity: 0.9;
}

.btn-montagem {
            background-color: #f3a800;
}

.btn-pintura {
    background-color: #8cc653;
}

.btn-funilaria {
    background-color: #f7eb00;
}

.btn-prensas {
    background-color: #8faada;
}